<div
  class="bg-gradient-to-br from-slate-900 to-cyan-900 backdrop-blur-sm rounded-2xl shadow-xl p-8 max-w-4xl mx-auto space-y-6 border border-cyan-500/20">
  <!-- Tabla   -->
  <table class="table-auto w-full  rounded-xl overflow-hidden shadow-xl bg-slate-950/30 text-gray-100 text-sm">


    <!-- Encabezado de la tabla -->
    <thead>

      <tr
        class="p-5 bg-gradient-to-r from-cyan-800 to-emerald-800 text-cyan-100 text-left text-sm uppercase tracking-wide">
        <!-- Columnas dinámicas basadas en el array `columns` -->
        <th *ngFor="let col of columns" class=" p-5 px-5 py-2 border-t border-cyan-500/10">
          {{ col.header }}
        </th>
        <!-- Columna extra para acciones, si existen -->
        <th *ngIf="actions.length" class="px-4 py-3 font-semibold">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <!-- Filas generadas dinámicamente según los datos paginados -->
      <tr *ngFor="let row of pagedData"
        class="border-separate border-spacing-2 odd:bg-slate-900 even:bg-slate-950 hover:bg-slate-700 transition-colors duration-150 rounded-lg">

        <!-- Celdas con datos según las columnas definidas -->
        <td *ngFor="let col of columns" class="px-4 py-2 border-t border-cyan-500/10 space-x-2">
          {{ row[col.field] }}
        </td>

        <!-- Celda de acciones con botones por cada acción disponible -->
        <td *ngIf="actions.length">
          <button *ngFor="let action of actions" (click)="
      onAction(action, row)" class=" p-2 rounded-lg hover:bg-cyan-500 transition text-white hover:shadow-cyan-400/30"
            [ngClass]="{
                    ' text-white': action === 'modificar',
                    '  text-white': action === 'eliminar'
                  }" [title]="action | titlecase">

            <!-- Selector para mostrar el ícono según la acción -->
            <ng-container [ngSwitch]="action">

              <!-- Ícono para 'modificar' -->
              <svg *ngSwitchCase="'modificar'" width="24" height="24" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <title></title>
                  <g id="Complete">
                    <g id="edit">
                      <g>
                        <path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8" fill="none" stroke="#0008ff"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <polygon fill="none" points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8" stroke="#0008ff"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>

              <!-- Ícono para 'eliminar' -->
              <svg *ngSwitchCase="'eliminar'" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M10 11V17" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                  <path d="M14 11V17" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                  <path d="M4 7H20" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                  <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z" stroke="#ff0000"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#ff0000"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>

            </ng-container>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Sección de paginación con botones para avanzar y retroceder -->
  <div class="mt-2 flex justify-end items-center space-x-2">
    <button (click)="prevPage()" [disabled]="currentPage === 0" class="px-2 py-1 rounded border">
      « Anterior
    </button>

    <!-- Información de página actual -->
    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>

    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1"
      class="px-3 py-1 rounded-lg border border-cyan-500/30 text-cyan-300 hover:text-white hover:border-cyan-400 transition">
      Siguiente »
    </button>
  </div>
</div>